<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex">
  <div id="logo" class="">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.svg" %>
      <% end %>
  </div>
  <div id="title" class="mx-auto">
    <h1>My word !</h1>
  </div>

</div>
